@model Bookkeeping.Models.ExpensesRecord

<br />

@using (Ajax.BeginForm("Create", new AjaxOptions
{
    UpdateTargetId = "targetDiv",Url=Url.Action("CreateAjax"),OnSuccess = "ajaxSuccess"
}))
{
    <div class="container" Id="targetDiv">
        @Html.Partial("_CreateForm")
    </div>
}
<div>
    <h4 class="badge">記帳本明細</h4>
    <h4 class="badge">@DateTime.Now.ToLongTimeString()</h4>
</div>
<br />

@Html.Action("DataList")

@section scripts{
    <script>
        function ajaxSuccess(evt, request, settings) {
            if (evt.IsSuccess === true) {
                alert(evt.Goto);
                window.history.go(evt.Goto);
            }
        }
    </script>
}